<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.common.dev.js"></script>
    <style>
        .red {
            color: red;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <div v-if="isSure">哈哈哈</div> -->
        <!-- <div v-else>啦啦啦</div> -->

        <!-- <div v-show="isSure">哈哈哈</div>
        <div>啦啦啦</div> -->

        <!-- <div class="item" v-for="item in list" :key="index">
            <p>{{item}}</p>
        </div> -->

        <!-- <div class="item" v-for="item in peopel" :key="index">
            <p>{{item.name}}-{{item.age}}</p>
        </div> -->

        <!-- <div class="msg">
            <span>{{newMessage}}</span>
            <span v-text="newMessage"></span>
            <span v-html="newMessage"></span>
        </div> -->

        <!-- <div class="count">
            <p>{{count}}</p>
            <button v-on:click="add">+</button>
            缩写
            <button @click="reduce">-</button>
        </div> -->

        <!-- <div class="model">
            <p>{{message}}</p>
            <p>
                v-model:
                <input type="text" v-model="message">
            </p>
        </div> -->

        <!-- <div class="pic">
            <img v-bind:src="imgSrc" alt="">
            缩写
            <img :src="imgSrc" alt="">
        </div> -->

        <!-- <div @click="color" v-bind:class="{red:isRed}" :class="[className1,className2]">哈哈哈</div> -->

        <!-- <div v-pre>{{message}}</div> -->

        <!-- <div v-cloak>{{message}}</div> -->

        <div v-once>{{message}}</div>
        <input type="text" v-model="message">
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                className1: 'active',
                className2: 'wrapper',
                isRed: false,
                message: 'Hello',
                newMessage: '<h2>Hello vue</h2>',
                isSure: false,
                list: ['a', 'b', 'c', 'd'],
                peopel: [
                    { name: '哈哈哈', age: 18 },
                    { name: '啦啦啦', age: 19 },
                    { name: '哦哦哦', age: 20 },
                ],
                count: 0,
                imgSrc: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2490672449,3962457934&fm=26&gp=0.jpg'
            },

            methods: {
                add() {
                    // console.log('你好');
                    this.count++
                },
                reduce() {
                    this.count--
                },
                color() {
                    // console.log('hhs');
                    this.isRed = !this.isRed
                },
            },

            beforeCreate() {
                console.log('beforeCreate');
            },
            created() {
                console.log('created');
            },
            beforeMount() {
                console.log('beforeMount');
            },
            mounted() {
                console.log('mounted');
            },
            beforeUpdate() {
                console.log('beforeUpdate');
            },
            updated() {
                console.log('updated');
            },
            beforeDestroy() {
                console.log('beforeDestroy');
            },
            destroyed() {
                console.log('destroyed');
            },
        })
    </script>
</body>

</html>