*
    margin 0
    padding 0

html,body 
    font-size 20px

ul li
    list-style none

section
    margin-bottom 0.667rem
    background-color #ffffff
    border-radius 10px
    overflow hidden
.card
    padding 1rem
    background #f5fafe
    &-wrapper
        width 100%
        .user-info
            width 100%
            font-size 0
            &__pic
                height 12rem
                width 100%
                img 
                    height 100%
                    width 100%
            &__desc
                padding 0.333rem 0.667rem 
                .name
                    font-size 1rem
                    color #010101
                    .sex
                        width 1rem
                        height 0.9rem
                        display inline-block
                        background-image url(./img/sex_man.png)
                        background-size contain
                .character-xg
                    font-size .666rem
                    overflow hidden
                    li
                        border-radius 5px
                        margin 0.666rem 0
                        float left
                        color #ffffff
                        padding .333rem .666rem
                        margin-right 0.6rem
                    .optimistic
                        background-color #48a6fd
                    .occupation
                        background-color #1dca42
                    .Toss
                        background-color #fb8800
                .information-xx
                    font-size 0.666rem
                    li
                        // margin-right 1.25rem
                        height 1.5rem
                        line-height 1.5rem
                        // background-color skyblue
                        // line-height 
                        color #adadad
                        float left
                        width 7rem
                        em
                            font-size 0
                            margin-right 0.4rem
                            width 1.4rem
                            height 1.4rem
                            display inline-block
                            background-size contain
                            vertical-align middle
                            img 
                                width 100%
                                

